<!DOCTYPE html>
<html>
<head>
  <title>Sub rails2</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "sub_rails2/application", media: "all" %>
  <%= javascript_include_tag "sub_rails2/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
